
.projects_background{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 500%);
    
}
.projects_background hr{
    width:80%;
    /* border: 1px solid; */
    height: 2px;
    border-radius: 1rem;
    /* border: none */
    background: slategray;
}
.projects_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    margin-bottom: 5rem;
}
.project{
    padding-top: 5rem;
}
.logo-container{
    height: 250px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    
}
.logo-container img{
    position: absolute;
    object-fit: contain;
    border-radius: 1rem;
}
.logo-container img:last-child{
    /* position: absolute; */
    transform: translateY(-5rem);
    display: hidden;
}
.icons2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 10px
}
.icons2 div{
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    flex: 0 0 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.icons2 div span{
    font-size: 8px;
}
.bottom_portion{
    color:slategray;
}